.player-with-points {
  display: grid;
  grid-template-columns: auto 20%;
  align-items: center;

  height: 32px;

  .white-text {
    color: white;
  }

  :last-child {
    line-height: 32px;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input {
    &:focus {
      //border: none !important;
      box-shadow: none !important;
    }
  }
}
