<main class="p-2 pt-2 h-100" *ngIf="bracket$ | async as bracket">
  <div class="d-flex justify-content-between align-items-center m-2 header">
    <h3 class="mb-0">{{bracket.name}}</h3>
    <div class="d-flex right-side-nav">
      <h5 class="top-nav-link" routerLink="/all-brackets">Back to List</h5>
      <h5 class="mb-0"><a class="top-nav-link" tabindex="0" (click)="logoutClick()">Logout</a></h5>
    </div>
  </div>
  <div class="main-view">
    <div *ngFor="let game of bracket.games" [ngStyle]="{
       'grid-row': calculateGridXPos(game.roundInBracket, game.positionInRound) + '/ span 2',
       'grid-column': (game.roundInBracket * 3 + 1) + '/ span 3'
     }">
        <app-game [game]="game"></app-game>
    </div>
  </div>
</main>
