@import "theming";

.header {
  height: 33px;

  .right-side-nav {
    width: 390px;
    justify-content: space-between;

    .top-nav-link {
      @include getVar(color, primary);
      text-decoration: none;
      background-color: transparent;
      user-select: none;

      &:hover {
        text-decoration: underline !important;
        cursor: pointer;
      }
    }
  }
}

.main-view {
  height: calc(100% - 33px - 1rem);
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 20px;
}
