<div class="modal-header">
  <h4 class="modal-title">Add new Bracket</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('cancel')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="newBracketForm" (submit)="submitForm()">
  <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" class="form-control" type="text" name="name" formControlName="name" placeholder="Type new of bracket" tabindex="1">
      </div>
      <div class="form-group">
        <label for="playerAmount">Player Amount</label>
        <select formControlName="playerAmount" class="form-control" id="playerAmount" tabindex="2">
          <option value="2">2</option>
          <option value="4">4</option>
          <option value="8">8</option>
          <option value="16">16</option>
        </select>
      </div>
      <label>Players</label>
      <div formArrayName="players" *ngFor="let player of newBracketForm.get('players').controls; let i = index;" class="form-group">
        <div [formGroupName]="i">
          <input class="form-control" formControlName="playerName" type="text" placeholder="Player {{i + 1}} Name" [tabIndex]="i + 3">
        </div>
      </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="activeModal.dismiss('cancel')">Cancel</button>
    <button type="submit" class="btn btn-success">Add</button>
  </div>
</form>
