<div class="w-100 bg-primary align-items-center" [ngSwitch]="editing">
  <button *ngSwitchCase="false" class="btn btn-primary name-button" [routerLink]="['/bracket', bracket.id]">{{bracket.name}}</button>
  <input *ngSwitchCase="true" class="form-control" type="text" [(ngModel)]="bracket.name">
  <button class="btn btn-info" (click)="editOrSaveName()">
    <img *ngSwitchCase="false" src="assets/pencil-edit-button.svg">
    <img *ngSwitchCase="true" src="assets/checked.svg">
  </button>
  <button class="btn btn-info" (click)="deleteBracket()">
    <img src="assets/rubbish-bin.svg">
  </button>
</div>
