<main class="p-2 pt-2">
  <div class="d-flex justify-content-between align-items-center m-2">
    <h3 class="mb-0">Your Brackets</h3>
    <div class="top-nav-link d-flex">
      <h5 class="top-nav-link" (click)="themeService.switchTheme()">Switch to {{themeService.themeToSwichtTo}} mode</h5>
      <h5 class="mb-0"><a tabindex="0" (click)="logoutClick()">Logout</a></h5>
    </div>
  </div>
  <div class="ml-4 bracket-list">
      <app-single-bracket *ngFor="let bracket of (allBrackets$ | async); trackBy: bracketTrackBy" [bracket]="bracket"></app-single-bracket>
    <button class="btn btn-info w-100" (click)="newBracketClick()">Add new Bracket</button>
  </div>
</main>
