@import "~bootswatch/dist/superhero/variables";
@import "mixins";

.top-nav-link {
  color: $primary !important;
  text-decoration: none;
  background-color: transparent;
  user-select: none;

  &:hover {
    text-decoration: underline !important;
    cursor: pointer;
    color: lighten($primary, 5) !important;
  }
}

.bracket-list {
  width: 25%;

  @include mediaQuery(1300px, max) {
    width: 40%;
  }
  @include mediaQuery(700px, max) {
    width: 60%;
  }
  @include mediaQuery(550px, max) {
    width: 80%;
  }
  @include mediaQuery(400px, max) {
    width: 90%;
  }
}
