<?php
$dBConnectionParams = array(
    'dbname' => '--DB NAME--',
    'user' => '--USER--',
    'password' => '--PASSWORD--',
    'host' => 'localhost',
    'driver' => 'pdo_mysql',
);

putenv('JWT_SECRET_KEY=--KEY--');
